<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>

        {{> menu hallOfFame="true" }}

        <section class="content">

            <h1 class="title">Hall of fame</h1>

            {{!-- SOLO RANK --}}
            <section class="flex-row rankWrapper">

                <section>
                    <h2 class="title">Solo mode</h2>

                    <table>
                        {{!-- TODO handle case where table is huge --}}
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Cumulated score</th>
                            </tr>
                        </thead>
                        <tbody id="rank">
                            {{#each ranksSolo}}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{pseudo}}</td>
                                    <td>{{score_total}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    {{#if userConnected}}
                        <div id="userData" class="flex-col">
                            <span>Your cumulated score is {{userSoloScore}}</span>
                            <span>Your rank is {{userRankSolo}}</span>
                        </div>
                    {{/if}}
                </section>

                {{!-- COOP RANK --}}
                <section>
                    <h2 class="title">Cooperation mode</h2>

                    <table>
                        {{!-- TODO handle case where table is huge --}}
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Cumulated score</th>
                            </tr>
                        </thead>
                        <tbody id="rank">
                            {{#each ranksCoop}}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{pseudo}}</td>
                                    <td>{{score_total}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    {{#if userConnected}}
                        <div id="userData" class="flex-col">
                            <span>Your cumulated score is {{userCoopScore}}</span>
                            <span>Your rank is {{userRankCoop}}</span>
                        </div>
                    {{/if}}
                </section>
            </section>

        </section>
        {{> help}}
    </body>
</html>