<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - Ride the music!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/trackSelection.css" rel="stylesheet">
        <script src="js/trackSelection.js"></script>
    </head>
    <body>

        <section class="content">

            {{!-- HOME BUTTON --}}

            <a href="/">
                <button id="homeButton" class="button button-small"><img src="../img/home.svg" alt="Home" width="30px" height="30px"></button>
            </a>

            <h1 class="title">Select a track</h1>

            {{!-- <a href="game"><button class="button">Play dummy track</button></a>  --}}

            <!-- ********** MOST PLAYED TRACKS ********** -->
        {{#if userConnected}}
            <section id="mostPlayedTracks" class="flex-col">
                <h2 class="title">Your most played tracks</h2>
                <div class="track-list flex-row">
                    {{#each userMostPlayed}}
                        <div class="track"><a href="difficulty/{{track_id}}"><button class="button button-track">
                            {{name}}
                            </button></a></div>
                    {{/each }}
                </div>
            </section>

            <!-- ********** FAVORITE TRACKS ********** -->

            <section id="favorites" class="flex-col">
                <h2 class="title">Favorite tracks</h2>
                <div class="track-list flex-row">
                    {{#each userFavorite}}
                        <div class="track"><a href="difficulty/{{track_id}}"><button class="button button-track">
                            {{name}}
                            </button></a></div>
                    {{/each }}
                </div>
            </section>
        {{/if}}

            <!-- ********** YOUTUBE SEARCH BAR ********** -->

            <section id="ytSearch" class="flex-col">
                <h2 class="title">Search through YouTube</h2>
                <div id="ytBrowser" class="inputWrapper flex-row">
                    <input type="text" class="input" placeholder="type a song...">
                    <button class="button button-small"><img src="../img/searcher.svg" alt="Magnifying Glass" width="30px" height="30px"></button>
                </div>
            </section>


            <!-- ********** TREND TRACKS ********** -->

            <section id="trendings" class="flex-col">
                <h2 class="title">Trend tracks</h2>
                <div class="track-list flex-row">
                    {{#each trend}}
                        <div class="track"><a href="difficulty/{{track_id}}"><button class="button button-track">
                            {{name}}
                            </button></a></div>
                    {{/each }}
                </div>
            </section>
        </section>
        
    </body>
</html>